html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video{margin:0;padding:0;border:0;
  font-size:100%;font:inherit;vertical-align:baseline}article,aside,
  details,figcaption,figure,footer,header,hgroup,menu,nav,
  section{display:block}body{line-height:1}ol,
  ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
  blockquote:after,q:before,q:after{content:'';
    content:none}table{border-collapse:collapse;border-spacing:0}

/*MAKE THE BOX MODEL BORDER-BOX BY DEFAULT*/




/*BASIC FORMATING
------------------------------------

html {
  
 }
 .container {
   display: flex;   
 }
body {
  font-size: 1rem;
  font-family: sans-serif;
  color: #212121;
  line-height: 1.5;
}
.header .blog-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}
.aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100;
  width: 25%em;
  background: darkgoldenrod;
  color: #fff;
}
.main {
  position: fixed;
  right: 0;
  top: 0;
  height: 100;
  width: 75%;
  background: whitesmoke;
  color: #fff;
}
.smaller-image {
  width: 6em;
  border-color: darkgreen;
  border-width: 1em;
  border-radius: 1em;
}
/*LINKS 

a {
  text-decoration: none;
  color: blue;
  outline: none;
  transition: color 0.7s ease;
}
a:hover {
  color: brown;
}

/*FORM ELEMENTS

button {
  background: none;
  border: thin; /*"none" value removes buttons border
}
input {
  border: thin; /*removes border
  outline: none; /*removes remaining default blue line
}*/

/*TITLES

h1,
h2 {
  font-weight: bold;
}
p {
  margin-bottom: 1em; /*équivaut à 16px mais px are absolute value so 
  if the divice changes there will be problem if its still px
}*/

/*#endregion*/



/*READER*/



/*HELPER CLASSES
------------------------------------*/



/*LAYOUT
------------------------------------*/



/*MEDIA QUERIES
------------------------------------*/

/* ASIDE CSS ORIGINAL
box-sizing: /*border-box*, *::before, *::after
color:rgb(255, 255, 255);
display:block;
font-family: sans-serif, helvetica, monospace;
font-size:16px;
font-weight:400;
height:373px;
line-height:24px;
padding-top:0px;
text-align:center;
text-size-adjust:100%;
width:248px;
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
*/


html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: Montserrat-Bold, Montserrat-SemiBold, monospace;
  color: #212121;
  line-height: 1.5;
  
}
main {
  font-size: 0.875rem;
}

/*LINKS*/

a {
  text-decoration: none;
  color: forestgreen;
  outline: none;
  transition: color;
}
a:hover {
  text-decoration: underline;
}

/*FORM ELEMENTS*/

button {
  background: none;
  border: none;
}
input, input:focus {
  border: none;
  outline: none;
}
/*TITLES*/
  
  h1 {
    font-weight: bold;
    font-family: montserrat;
    font-size: xx-large;
    text-align: center;
    line-height: 2rem;    
  }
  main p {
    margin-bottom: 0.5rem; /*of 16px*/    
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: montserrat;
    font-size: medium;
    margin-left: 3rem;
    line-height: 1rem;

  }  
  
  p {
    margin-left: 3rem;
   
  }

.container {
  /*display: flex;*/
  padding-left: 20rem;    
}

 /*LAYOUT
 ---------------------------------------
 /*#region*/

 
 /*LEFT CONTENT
 ---------------------------------------*/

  .left-content {
    width: 100%;
    max-width: 280px;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1rem;

    color: #fff;
    background-color: #5FCB71;
  } 

  .left-content,
  .left-content a,
  .left-content button {

  }

  /*Profile*/

  .profile {
    border-bottom: solid;
    color: darkslategray;
    padding-bottom: 2rem;
  }

  .profile-picture {
    overflow: auto;
  }

  .profile-picture img {
  
    width: 10em;
    /*border-color: none;
    border-width: 1em;*/
    border-radius: 10%;
  }   
  /*to target the icons*/
  
  .profile-social-i {

  }


/*
aside {
  flex:1;
  width: 100%;
  max-width: 280px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  color: #fff;
  background-color: #5FCB71;
} */

 /*RIGHT CONTENT*/

  .right-content {
    padding-left: 280px;

  }

/*HEADER*/

  .header {
    padding: 3rem 0 3rem;
    background-color: whitesmoke;
  }
  
  /*MAIN CONTENT*/

  .main {
    max-width: 820px;
    margin-top: 0 auto;
    background-color: #ffffff;
  }

  .blog-item {
    margin-bottom: 3em;
  }
  .blog-item-figure {
    width: 100%;
    max-width: 110px;
    margin-right: 3rem;
  }
  /*FOOTER*/
  
  .footer {
    
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.7);
    background-color: burlywood;
  }
  
  /*.main {
  /*flex:2;
  width: 100%;
  max-width: 700px;
  height: 100vh;
  /*margin-left: 0;
  /*background-color: #fff;  
  position: flex;
  top: 0;
  left: 0;
  /*bottom: 0;
  color: #212121;
  background-color: whitesmoke;
  /*max-width: 820px;
        
  }*/
  
  

  /*FOOTER*/

 
 /*FLEX*/ 
  
  .flex {
    display: flex;
  }
  
  
  /*HELPER CLASSES
  DRY - Don't repeat Yourself ! */
   /* a. TYPOGRAPHY*/

   .center {
     text-align: center;
   }

  .montserrat {
    font-family: Montserrat-Bold, Montserrat-SemiBold, monospace;
  }
  .courier {
    margin-left: 3rem;
    color: darkgoldenrod;
  }
  @font-face {
    font-family: 'soicons';
    src: 
    url('fonts/soicons.ttf?ihc9r5') format('truetype'),
    url('fonts/soicons.woff?ihc9r5') format('woff'),
    url('fonts/soicons.svg?ihc9r5#soicons') format('svg');
    font-weigth: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"], [class*="icon-"] {
    font-family: 'soicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }
  .icon-arrow-right:before {
    content: "\e900";
  }
  .icon-user:before {
    content: "\e901";
  }
  .icon-aboutme:before {
    content: "\e902";
  }
  .icon-home:before {
    content: "\e903";
  }
  .icon-blogpost:before {
    content: ;
  }
  .icon-codepen:before {
    content: "\e904";
  }
  .icon-stack-overflow:before {
    content: "\e905";
  }
  .icon-github:before {
    content: "\e906";
  }
  .icon-linkedin:before {
    content: "\e907";
  }


  /*b. FONT WEIGHTS*/

  .bold {
    font-weight: 800;
  }
  /*c. FONT SIZES*/

  .font_size {
    font-size: 1rem;
  }
  /*d. LINE HEIGHTS*/
  .line_height_1 {
    line-height: 1;
  }
  .line_height_1p2 {
    line-height: 1.2;
  }

  /*E. COLORS*/

  .brown {
    color: saddlebrown;
  }
  .green {
    color: forestgreen;
  }
  .black {
    color: #222222;
  }

   /*MARGINS (.m is the convention for margin in bootstrap)*/

  /*.m0 {
    margin: 0em; concerne la 1ère section
  }*/
  .mx {
    margin-left: auto;
    margin-right: auto;
  }

  .m-b-1 {
    margin-bottom: 1rem;
  }
  .m-b-2 {
    margin-bottom: 1.25rem;
  }
  .m-b-3 {
    margin-bottom: 1.5rem;
  }
  .m-b-4 {
    margin-bottom: 1.75rem;
  }
  .m-b-5 {
    margin-bottom: 2rem;
  }
  

  /*PADDINGS*/

  

 